<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/board/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Write</servlet-name>
        <jsp-file>/write.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Write</servlet-name>
        <url-pattern>/board/write</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostDetail</servlet-name>
        <jsp-file>/postDetail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostDetail</servlet-name>
        <url-pattern>/board/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WriteAction</servlet-name>
        <jsp-file>/writeAction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteAction</servlet-name>
        <url-pattern>/board/write/action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentAction</servlet-name>
        <jsp-file>/board/commentAction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentAction</servlet-name>
        <url-pattern>/board/detail/comment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePostPwCheck</servlet-name>
        <jsp-file>/board/updatePasswordCheck.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePostPwCheck</servlet-name>
        <url-pattern>/board/update/check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <jsp-file>/board/update.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/board/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePostAction</servlet-name>
        <jsp-file>/board/updateAction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePostAction</servlet-name>
        <url-pattern>/board/update/action</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePostCheck</servlet-name>
        <jsp-file>/board/deletePasswordCheck.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePostCheck</servlet-name>
        <url-pattern>/board/delete/check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <jsp-file>/board/deleteAction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/board/delete</url-pattern>
    </servlet-mapping>
</web-app>